<h1>Leads</h1>

<div class="row">
	<div class="row" style="margin-bottom: 5px">
	    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<%= link_to 'Add new lead', new_lead_path, :class => "btn btn-primary" %>
	    </div>
	</div>
	<%= @leads %>
</div>