<h1>=/</h1>
<p>
There was an error when connecting to your SalesForce Organization.
You must talk to your contact at SalesForce or try to access using a Developer Edition of SalesForce.

Until that, <a href="/signout">click here</a> to use our app without connecting to SalesForce.

Thank you.
</p>