<h1>=/</h1>
<br />
<p>
There was an error when connecting to your SalesForce Organization.
<br />
You must talk to your contact at SalesForce <strong>to Enable API REST methods</strong> or try to access using a <strong>Developer Edition of SalesForce</strong>.
<br />
<br />
Until that, <strong><a href="/signout">click here</a></strong> to use our app without connecting to SalesForce.
<br />
<br />
Thank you.
</p>